<mat-dialog-content class="mat-typography text-justify">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <i class="{{dataAlert.icon}} iconAlert text-info"></i>
            </div>
            <div class="col-12 text-center">
                <h2>{{dataAlert.titulo}}</h2>
                <p>{{dataAlert.texto}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger p-1">Cerrar</button>
</mat-dialog-actions>