/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}


.text-right{
    text-align: right !important;
}

a{
    text-decoration: none;
}

.form{
    bottom: 30%;
    right: 10%;
}

.absolute{
    position: absolute;
}

.formloginRegistro{
    background: #e8e7e7;
}

.waves {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
}
/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.nube{
    right: 0;
}

.nube1{
    left: -1px;
    bottom: 0px;
    width: 40%;
}

.absolute{
    position: absolute;
}